{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile Details
{% endblock %}

{% block content %}
<h1>User Profile</h1>
<p>{{ profile.name }}</p>
<p>{{ profile.github }}</p>
<p>{{ profile.linkedin }}</p>
<p>{{ profile.bio }}</p>

<ul>
  {% for project in profile.projects.all %}
    <li>{{ project.name }}</li>
    <li>{{ project.description }}</li>
    <li>{{ project.github_url }}</li>
    <li>{{ project.keyword }}</li>
    <li>{{ project.key_skill }}</li>
  {% endfor %}
</ul>
<ul>
  {% for certificate in profile.certificates.all %}
    <li>{{ certificate.name }}</li>
    <li>{{ certificate.certifying_institution }}</li>
    <li>{{ certificate.timestamp }}</li>
  {% endfor %}
</ul>
{% endblock %}